.swapper{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.container{
    width: 50% !important;
    height: 500px !important;
    border: 2px solid #000 !important;
    background-color: #fff !important;
    border-radius: 8px;
    justify-content: flex-start;
    align-items: flex-start;
}