.calendar{
    display:flex;
}
.calendar_t{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}
#calendar-image{
    height: 99vh;
}
.calendar_btn{
    display: flex;
    width: 174px;
    height: 65px;
    left: 1139px;
    top: 861px;
    background: #07D9A6;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid transparent;
    font-weight: bolder;
    font-size: 20px;
    margin-left:5%;
    transition: .4s;
}

.calendar_btn:hover{
    background-color: #fff;
    color: #07D9A6;
    border: 1px solid #07D9A6;
    border-radius: 10px;
    cursor: pointer;
}