.calendar{
    display:flex;
}
.calendar_t{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}
#calendar-image{
    height: 99vh;
}
.calendar_btn{
    display: flex;
    width: 174px;
    height: 65px;
    left: 1139px;
    top: 861px;
    background: #07D9A6;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid transparent;
    font-weight: bolder;
    font-size: 20px;
    margin-left:5%;
    transition: .4s;
}

.calendar_btn:hover{
    background-color: #fff;
    color: #07D9A6;
    border: 1px solid #07D9A6;
    border-radius: 10px;
    cursor: pointer;
}


/* Responsive */

/* Large */
@media (min-width: 1201px) {
    
}

/* Desktop */
@media (max-width: 1200px) {
    
}

/* Laptop */
@media (max-width: 1100px) {
   #calendar-image{
       display: none;
   }
   .calendar_t{
       height: 100vh;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   .calendar_btn{
       margin-left: 0;
       margin-top: 1rem;

   }
}

@media (max-width: 932px) {
    
}


@media (max-width: 900px) {

}


/* Tablets */
@media (max-width: 780px) {
    
}

/* Phone */
@media (max-width: 480px) {
    
}