@import url("./Colurs.css");

.slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
  }

  .slides {
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 2rem 0;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }

  
  .slide-image{
    height: 100% !important;
  }
  .slides::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: var(--LIGHT-GREEN);
    border-radius: 5px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
 
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

  .author-info {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
  .author-info a {
    color: white;
  }
 .slider_ana{
     display:flex;
     justify-content:center;
     padding: 4rem 0;
     margin: 3rem 5rem;

    border: 1px solid #000;
    border-radius: 5px;
 }
  .slider > a:active {
    top: 1px;
  }
  .slider > a:focus {
    background: #000;
  }


/* Responsive */

/* Large */
@media (min-width: 1201px) {
    
}

/* Desktop */
@media (max-width: 1200px) {
    
}

/* Laptop */
@media (max-width: 1050px) {
   
}

@media (max-width: 932px) {
  .slider_ana{
     width: 100%;
     margin: 1rem 0;
     border: none;
     padding: 1rem 0;
  }
}


@media (max-width: 900px) {

}


/* Tablets */
@media (max-width: 780px) {
    .slides{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .slide-image{
      width: 100%;
    }
    #slide-1{
      width: 100%;
      margin: 1rem 0;
    }
    #slide-2{
      width: 100%;
      margin: 1rem 0;
    }
    #slide-3{
      width: 100%;
      margin: 1rem 0;
    }
    #slide-4{
      width: 100%;
      margin: 1rem 0;
    }
}

/* Phone */
@media (max-width: 480px) {
    
}
