@import url("../css/Colurs.css");

@font-face {
    font-family: poppins-light;
    src: url("../fonts/Poppins-Light.otf");
}

.login-swapper{
display:flex;
height: 100vh;
width: 100%;
}
.photo{
display: flex;

width: 55%;
}
#login-photo{
  width: 100%;
  background-size: contain;
}

.input-text{
  width: 75%;
  padding-left: .75rem;
  font-family: poppins-light;
}

.input{
  width: 75%;
  border: 1px solid var(--LIGHT-GREEN);
  border-radius: 25px;
  padding: 1rem 1.25rem 1rem 1.25rem;
  color: #000000;
  transition: .2s;
  margin: 1rem .25rem;
}
.input:focus{
  outline: none;
  background-color: var(--LIGHT-GREEN);
  color: var(--WHITE);
}
.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonx{
  background-color: var(--LIGHT-GREEN);
  padding: .5rem .75rem;
  width: 75%;
  border: 1px solid transparent;
  outline: none;
  border-radius: 10px;

  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 0 0 1rem 0;
  cursor: pointer;
  transition: .2s;
  text-align: center;
}

.buttonx:hover{
  border: 1px solid var(--LIGHT-GREEN);
  background-color: transparent;
  color: var(--LIGHT-GREEN);
}
#sign-up-text{
  padding: .5rem 0 0 0;
  font-style: italic;
  font-size: .9rem;
}
#sign-up-span{
  color: var(--LIGHT-GREEN);
}


/* Responsive */


@media (max-width: 900px) {
  .photo{
    display: none;
  }
}
