@import url("../css/Colurs.css");

@font-face {
    font-family: poppins-regular;
    src: url("../fonts/Poppins-Regular.otf");
}

.container{
display:flex;


}
.photo{
display: flex;



}
.content{
display: flex;
flex-direction: column;



}
.labelx{
 
  margin-top: 5px;
    margin-bottom: 5px;
    background: rgba(96, 214, 185, 0.65);
    border: none;
}
.buttonx{
  width: 93px;
height: 26px;
left: 1095px;
top: 622px;
border: none;
background: #07D9A6;
opacity: 0.3;
border-radius: 15px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 33px;

color: #000000;
display: flex;
justify-content: center;

}
.btn-b{
display: flex;
margin-top: 5px;

}