@import url("../css/Colurs.css");

@font-face {
    font-family: poppins-regular;
    src: url("../fonts/Poppins-Regular.otf");
}

@font-face {
    font-family: poppins-light;
    src: url("../fonts/Poppins-Light.otf");
}

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
}

#logo{
    width: 150px;
}

.nav-list{
    list-style-type: none;
    display: flex;
}

.nav-item{
    padding: .5rem 1rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: poppins-light;
}

#randevu{
    background-color: var(--LIGHT-GREEN);
    color: var(--WHITE);
    border-radius: 35px;
    transition: .2s;
    border: 1px solid transparent;
    cursor: pointer;
}

#randevu:hover{
    background-color: var(--WHITE);
    border: 1px solid var(--LIGHT-GREEN);
    color: var(--LIGHT-GREEN);
}

a{
    color: #000;
    text-decoration: none;
}