@import url("../css/Colurs.css");

@font-face {
    font-family: poppins-regular;
    src: url("../fonts/Poppins-Regular.otf");
}

@font-face {
    font-family: poppins-light;
    src: url("../fonts/Poppins-Light.otf");
}

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 2rem 1rem 2rem;
}

#logo{
    width: 150px;
}

.nav-list{
    list-style-type: none;
    display: flex;
    align-items: flex-end;
}

.nav-item{
    padding: .5rem 1rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: poppins-light;
}

#randevu{
    background-color: var(--LIGHT-GREEN);
    border-radius: 35px;
    transition: .2s;
    border: 1px solid transparent;
    cursor: pointer;
}
#randevu-link-text{
    color: var(--WHITE);
    transition: .2s;

}
#randevu:hover{
    background-color: var(--WHITE);
    border: 1px solid var(--LIGHT-GREEN);
}
#randevu-link-text:hover{
    color: var(--LIGHT-GREEN);
}
a{
    color: #000;
    text-decoration: none;
}

/* Responsive */

/* Large */
@media (min-width: 1201px) {
    
}

/* Desktop */
@media (max-width: 1200px) {
    
}

/* Laptop */
@media (max-width: 1050px) {
    .nav-item{
        font-size: 1rem;
    }

    #logo{
        width: 100px;
    }
}

@media (max-width: 932px) {
    .nav-item{
        font-size: 1rem;
    }
    
    #logo{
        width: 100px;
    }
}


@media (max-width: 900px) {

    #logo{
        display: none;
    }

    .navbar{
        justify-content: center;
        margin: 2rem 0;
    }
}


/* Tablets */
@media (max-width: 780px) {
    .navbar{
        margin: .5rem 0;
    }
    .nav-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-item{
        padding: 1rem;
    }
}

/* Phone */
@media (max-width: 480px) {
    
}
